<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__menu">
                <nav class="page-header__menu-nav">
                    <ul>
                        <li>
                            <a href="#">
                                Наша Стратегия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Куда мы инвестируем
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Что такое DAO?
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Наш портфель
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Успешные проекты
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Наша команда
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Миссия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Блог
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#iframe-modal" class="btn page-header__menu-connect-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-lock">
                        <use xlink:href="#lock"></use>
                    </svg>
                    Подключить кошелёк
                </a>
                <ul class="page-header__menu-social-list">
                    <li class="page-header__menu-social-list-item">
                        <a href="#" class="page-header__menu-social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__menu-social-list-item">
                        <a href="#" class="page-header__menu-social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__menu-social-list-item">
                        <a href="#" class="page-header__menu-social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__menu-social-list-item">
                        <a href="#" class="page-header__menu-social-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#strategy">
                            Доходность
                        </a>
                    </li>
                    <li>
                        <a href="#about">
                            Что такое DAO?
                        </a>
                    </li>
                    <li>
                        <a href="#assets">
                            Куда мы инвестируем
                        </a>
                    </li>
                    <li>
                        <a href="#steps">
                            Как стать инвестором
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio">
                            Портфель
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#iframe-modal" class="page-header__connect-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-lock">
                    <use xlink:href="#lock"></use>
                </svg>
                Подключить кошелёк
            </a>
            <div class="page-header__languages">
                <div class="page-header__languages-current">
                    <img src="img/rus.svg" alt="" class="page-header__languages-current-flag">
                    RU
                    <svg width="14" height="14" aria-hidden="true" class="icon-lang-arrow">
                        <use xlink:href="#lang-arrow"></use>
                    </svg>
                </div>
                <div class="page-header__languages-dropdown">
                    <div class="page-header__languages-dropdown-inner">
                        <a href="#" class="page-header__languages-dropdown-link">
                            <img src="img/rus.svg" alt="" class="page-header__languages-dropdown-link-flag">
                            RU
                        </a>
                    </div>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>