{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="container">
        <div class="intro__row">
            <div class="intro__content">
                <h1 class="section-heading intro__heading">
                    <span>Инвестируйте в</span> цифровые активы и компании на блокчейне
                </h1>
                <div class="intro__text">
                    <p>
                        SG Capital предоставляет простой, безопасный и быстрый способ
                        инвестировать в digital пространство через DAO фонд
                    </p>
                </div>
                <div class="intro__btns">
                    <a href="#" class="btn intro__btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-button-arrow-right">
                            <use xlink:href="#button-arrow-right"></use>
                        </svg>
                        Узнать подробнее
                    </a>
                    <a href="#" class="btn btn--white intro__btn">
                        <div class="intro__btn-telegram-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </div>
                        Telegram сообщество
                    </a>
                </div>
            </div>
            <div class="intro__illustration">
                <img src="img/intro-illustration.jpg" alt="" class="intro__illustration-image">
            </div>
        </div>
        <a href="#" class="intro__polygon">
            <img src="img/polygon-logo.svg" alt="" class="intro__polygon-logo">
        </a>
    </div>
</section>

<section class="numbers js-move-up-block">
    <div class="container">
        <div class="numbers__row">


            <ul class="numbers__list">
                <li class="numbers__list-item">
                    <div class="numbers__card">
                        <div class="numbers__people">
                            <div class="numbers__people-item">
                                <img src="img/people/1.jpg" alt="" class="numbers__people-item-photo">
                            </div>
                            <div class="numbers__people-item">
                                <img src="img/people/2.jpg" alt="" class="numbers__people-item-photo">
                            </div>
                            <div class="numbers__people-item">
                                <img src="img/people/3.jpg" alt="" class="numbers__people-item-photo">
                            </div>
                        </div>
                        <div class="numbers__card-content">
                            <div class="numbers__card-amount">
                                1,000+
                            </div>
                            <div class="numbers__card-text">
                                Активных участников<br> со всего мира
                            </div>
                        </div>
                    </div>
                </li>

                <li class="numbers__list-item">
                    <div class="numbers__card">
                        <div class="numbers__card-content">
                            <div class="numbers__card-amount">
                                10
                            </div>
                            <div class="numbers__card-text">
                                Количество<br> проинвестированных<br> проектов
                            </div>
                        </div>
                    </div>
                </li>
                <li class="numbers__list-item">
                    <div class="numbers__card">
                        <div class="numbers__card-content">
                            <div class="numbers__card-amount">
                                $1,000,000
                            </div>
                            <div class="numbers__card-text">
                                Общая сумма фонда
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <a href="#" class="btn btn--white numbers__link">
                <svg width="14" height="14" aria-hidden="true" class="icon-graph">
                    <use xlink:href="#graph"></use>
                </svg>
                Статистика DAO
            </a>
        </div>
    </div>
</section>

<section class="strategy js-move-up-block" id="strategy">
    <div class="container">
        <div class="strategy__row">
            <div class="strategy__profit">
                <img src="img/arrow-illustration.jpg" alt="" class="strategy__profit-arrow">
                <div class="strategy__profit-content">


                    <h3 class="strategy__profit-heading">
                        <span>
                            Доходность
                        </span>

                    </h3>
                    <div class="strategy__profit-amount">
                        <span>
                            min
                        </span>
                        20-40%
                    </div>
                    <div class="strategy__profit-amount-desc">

                        Процентная ставка
                    </div>
                    <div class="strategy__profit-amount-remark">
                        <svg width="14" height="14" aria-hidden="true" class="icon-ok">
                            <use xlink:href="#ok"></use>
                        </svg>
                        Без минимального взноса
                    </div>
                </div>
            </div>
            <div class="strategy__info">
                <h2 class="section-heading strategy__heading">
                    Наша <span>Стратегия</span>
                </h2>
                <div class="strategy__text">
                    <p>
                        Блок про минимальную гарантированную доходность, которую обещает фонд
                        и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                        вести на другой сайт.Блок про минимальную гарантированную доходность, которую обещает фонд
                        и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                        вести на другой сайт.
                    </p>
                </div>
                <a href="#" class="btn strategy__link">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>

<section class="about js-move-up-block" id="about">
    <div class="container">
        <h2 class="section-heading about__heading">
            Что такое <span>DAO?</span>
        </h2>
        <div class="about__text">
            <p>
                Блок про минимальную гарантированную доходность, которую обещает фонд
                и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                вести на другой сайт.
            </p>
        </div>
        <div class="about__grid">
            <div class="about__traditional">
                <h3 class="about__traditional-heading">
                    Традиционный фонд
                </h3>
                <ul class="about__traditional-list">
                    <li class="about__traditional-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-warning-marker">
                            <use xlink:href="#warning-marker"></use>
                        </svg>
                        Аккредитованный инвестор
                    </li>
                    <li class="about__traditional-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-warning-marker">
                            <use xlink:href="#warning-marker"></use>
                        </svg>
                        Капитал от $10,000
                    </li>
                    <li class="about__traditional-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-warning-marker">
                            <use xlink:href="#warning-marker"></use>
                        </svg>
                        Финансовая проверка и процесс “знай своего клиента”
                    </li>
                    <li class="about__traditional-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-warning-marker">
                            <use xlink:href="#warning-marker"></use>
                        </svg>
                        Доступ ограниченному кол-ву “своих людей”
                    </li>
                    <li class="about__traditional-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-warning-marker">
                            <use xlink:href="#warning-marker"></use>
                        </svg>
                        Бумажная бюрократия
                    </li>
                </ul>
            </div>
            <div class="about__dao">
                <img src="img/logo.svg" alt="" class="about__dao-logo">
                <h2 class="about__dao-heading">
                    DAO фонд
                </h2>
                <ul class="about__dao-list">
                    <li class="about__dao-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-ok-marker">
                            <use xlink:href="#ok-marker"></use>
                        </svg>
                        Аккредитация не требуется
                    </li>
                    <li class="about__dao-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-ok-marker">
                            <use xlink:href="#ok-marker"></use>
                        </svg>
                        Капитал от $1
                    </li>
                    <li class="about__dao-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-ok-marker">
                            <use xlink:href="#ok-marker"></use>
                        </svg>
                        Отсутствие финансовой проверки и полная конфиденциальность
                    </li>
                    <li class="about__dao-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-ok-marker">
                            <use xlink:href="#ok-marker"></use>
                        </svg>
                        Доступ всем желающим
                    </li>
                    <li class="about__dao-list-item">
                        <svg width="14" height="14" aria-hidden="true" class="icon-ok-marker">
                            <use xlink:href="#ok-marker"></use>
                        </svg>
                        Все юридические вопросы решаются через “smart” контракты
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="assets js-move-up-block" id="assets">
    <div class="container">
        <div class="assets__top-row">
            <h2 class="section-heading assets__heading">
                Куда мы <span>инвестируем</span>
            </h2>
            <div class="assets__text">
                <p>
                    Блок про минимальную гарантированную доходность, которую обещает фонд
                    и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                    вести на другой сайт.Блок про минимальную гарантированную доходность, которую обещает фонд
                    и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                    вести на другой сайт.
                </p>
            </div>
        </div>
        <ul class="assets__list">
            <li class="assets__list-item">
                <div class="assets__card">
                    <div class="assets__card-top-row">
                        <div class="assets__card-amount">
                            40%
                        </div>
                        <img src="img/invest/1.svg" alt="" class="assets__card-icon">
                    </div>
                    <h3 class="assets__card-title">
                        Ликвидные токены
                    </h3>
                    <div class="assets__card-text">
                        <p>
                            Блок про минимальную гарантированную доходность, которую обещает фонд
                            и стратегию с коротким описанием.
                        </p>
                    </div>
                </div>
            </li>
            <li class="assets__list-item">
                <div class="assets__card">
                    <div class="assets__card-top-row">
                        <div class="assets__card-amount">
                            30%
                        </div>
                        <img src="img/invest/2.svg" alt="" class="assets__card-icon">
                    </div>
                    <h3 class="assets__card-title">
                        Early-stage токены
                    </h3>
                    <div class="assets__card-text">
                        <p>
                            Блок про минимальную гарантированную доходность, которую обещает фонд
                            и стратегию с коротким описанием.
                        </p>
                    </div>
                </div>
            </li>
            <li class="assets__list-item">
                <div class="assets__card">
                    <div class="assets__card-top-row">
                        <div class="assets__card-amount">
                            10%
                        </div>
                        <img src="img/invest/3.svg" alt="" class="assets__card-icon">
                    </div>
                    <h3 class="assets__card-title">
                        Предоставление ликвидности
                    </h3>
                    <div class="assets__card-text">
                        <p>
                            Блок про минимальную гарантированную доходность, которую обещает фонд
                            и стратегию с коротким описанием.
                        </p>
                    </div>
                </div>
            </li>
            <li class="assets__list-item">
                <div class="assets__card">
                    <div class="assets__card-top-row">
                        <div class="assets__card-amount">
                            10%
                        </div>
                        <img src="img/invest/4.svg" alt="" class="assets__card-icon">
                    </div>
                    <h3 class="assets__card-title">
                        Майнинг
                    </h3>
                    <div class="assets__card-text">
                        <p>
                            Блок про минимальную гарантированную доходность, которую обещает фонд
                            и стратегию с коротким описанием.
                        </p>
                    </div>
                </div>
            </li>
            <li class="assets__list-item">
                <div class="assets__card">
                    <div class="assets__card-top-row">
                        <div class="assets__card-amount">
                            10%
                        </div>
                        <img src="img/invest/5.svg" alt="" class="assets__card-icon">
                    </div>
                    <h3 class="assets__card-title">
                        Венчурные инвестиции
                    </h3>
                    <div class="assets__card-text">
                        <p>
                            Блок про минимальную гарантированную доходность, которую обещает фонд
                            и стратегию с коротким описанием.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="portfolio js-move-up-block" id="portfolio">
    <div class="container">
        <h2 class="section-heading portfolio__heading">
            Наш <span>портфель</span>
        </h2>
        <div class="portfolio__row">
            <div class="portfolio__info">
                <div class="portfolio__info-top-row">
                    <img src="img/logo-dark.svg" alt="" class="portfolio__info-logo">
                    <div class="portfolio__info-content">
                        <h3 class="portfolio__info-title">
                            SG Capital
                        </h3>
                        <div class="portfolio__info-link">
                            <div class="portfolio__info-link-text">
                                0x47ba...9527
                            </div>
                            <a href="#" class="portfolio__info-link-copy js-copy-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                    <use xlink:href="#copy"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__info-total">
                    <div class="portfolio__info-total-text">
                        Количество средств под управлением
                    </div>
                    <div class="portfolio__info-total-amount">
                        $1,243,410
                    </div>
                </div>
                <a href="#" class="btn portfolio__info-btn">
                    Стать инвестором
                </a>
                <div class="portfolio__info-bottom-text">
                    <p>
                        “1 $SGC = 1 $USTD (привязан к
                        стейблкоину), дает возможность претендовать на долю доходности фонда,
                        купить и продать $SGC можно на децентрализованной бирже, фонд работает
                        на polygon.
                    </p>
                </div>
            </div>
            <div class="portfolio__assets">
                <div class="portfolio__assets-top-row">
                    <div class="portfolio__assets-category-title">
                        Активы
                    </div>
                    <div class="portfolio__assets-category-title">
                        Баланс
                    </div>
                </div>
                <div class="portfolio__assets-scroll-wrapper js-check-overflow">
                    <ul class="portfolio__assets-list">
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/1.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Монеты
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Spot торговля
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        22%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $350,856
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/2.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Игровая тематика
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Futers торговля
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        10%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $120,100
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/3.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Early-stage токены
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Pre-листинг
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        3%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $18,357
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/4.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Предоставление ликвидности
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Lido
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        2,5%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $15,657
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/5.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Майнинг
                                        </h4>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        63,5%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $808,120
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/1.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Монеты
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Spot торговля
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        22%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $350,856
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/2.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Игровая тематика
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Futers торговля
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        10%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $120,100
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/3.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Early-stage токены
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Pre-листинг
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        3%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $18,357
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/4.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Предоставление ликвидности
                                        </h4>
                                        <div class="portfolio__assets-card-type">
                                            Lido
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        2,5%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $15,657
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio__assets-list-item">
                            <div class="portfolio__assets-card">
                                <div class="portfolio__assets-card-info">
                                    <div class="portfolio__assets-card-icon">
                                        <img src="img/invest/5.svg" alt="" class="portfolio__assets-card-icon-image">
                                    </div>
                                    <div class="portfolio__assets-card-info-content">
                                        <h4 class="portfolio__assets-card-title">
                                            Майнинг
                                        </h4>
                                    </div>
                                </div>
                                <div class="portfolio__assets-card-balance">
                                    <div class="portfolio__assets-card-change">
                                        63,5%
                                    </div>
                                    <div class="portfolio__assets-card-total">
                                        $808,120
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <a href="#" class="show-more portfolio__show-more js-show-more">
                    Смотреть все
                </a>
                <div class="portfolio__assets-updated-at">
                    * Обновлено 25 апреля 2022 12:00 GMT
                </div>
            </div>
        </div>
    </div>
</section>

<section class="steps js-move-up-block" id="steps">
    <div class="container">
        <div class="steps__row">
            <div class="steps__content">
                <h2 class="section-heading steps__heading">
                    Как стать<br> <span>инвестором</span>
                </h2>
                <ol class="steps__list">
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <h3 class="steps__card-title">
                                Шаг первый
                            </h3>
                            <div class="steps__card-text">
                                Блок про минимальную гарантированную доходность, которую обещает фонд
                                и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                                вести на другой сайт.
                            </div>
                        </div>
                    </li>
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <h3 class="steps__card-title">
                                Шаг второй
                            </h3>
                            <div class="steps__card-text">
                                Блок про минимальную гарантированную доходность, которую обещает фонд
                                и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                                вести на другой сайт.
                            </div>
                        </div>
                    </li>
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <h3 class="steps__card-title">
                                Шаг третий
                            </h3>
                            <div class="steps__card-text">
                                Блок про минимальную гарантированную доходность, которую обещает фонд
                                и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                                вести на другой сайт.
                            </div>
                        </div>
                    </li>
                </ol>
                <a href="#" class="btn btn--white steps__details-link">
                    Подробная инструкция
                </a>
            </div>
            <div class="steps__video">
                <div class="steps__video-element js-media-player" data-plyr-provider="youtube"
                    data-plyr-embed-id="59IXY5IDrBA">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects js-move-up-block" id="projects">
    <div class="container">
        <div class="projects__row">
            <h2 class="section-heading projects__heading">
                <span>Успешные</span> <br>проекты
            </h2>
            <div class="projects__text">
                <p>
                    Блок про минимальную гарантированную доходность, которую обещает фонд
                    и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                    вести на другой сайт.Блок про минимальную гарантированную доходность, которую обещает фонд
                    и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                    вести на другой сайт.
                </p>
            </div>
        </div>
        <div class="projects__slider js-projects-slider">
            <div class="projects__slider-inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="projects__slider-card">
                                <div class="projects__slider-card-logo">
                                    <img src="img/sample-logo.svg" alt="" class="projects__slider-card-logo-image">
                                </div>
                                <div class="projects__slider-card-row">
                                    <div class="projects__slider-card-info">
                                        <h3 class="projects__slider-card-title">
                                            Проект 1
                                        </h3>
                                        <div class="projects__slider-card-token">
                                            TokenName
                                        </div>
                                    </div>
                                    <div class="projects__slider-card-result">
                                        <div class="projects__slider-card-date">
                                            Март 2022
                                        </div>
                                        <div class="projects__slider-card-result-amount">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__slider-card">
                                <div class="projects__slider-card-logo">
                                    <img src="img/amazon.svg" alt="" class="projects__slider-card-logo-image">
                                </div>
                                <div class="projects__slider-card-row">
                                    <div class="projects__slider-card-info">
                                        <h3 class="projects__slider-card-title">
                                            Проект 1
                                        </h3>
                                        <div class="projects__slider-card-token">
                                            TokenName
                                        </div>
                                    </div>
                                    <div class="projects__slider-card-result">
                                        <div class="projects__slider-card-date">
                                            Март 2022
                                        </div>
                                        <div class="projects__slider-card-result-amount">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__slider-card">
                                <div class="projects__slider-card-logo">
                                    <img src="img/netflix.svg" alt="" class="projects__slider-card-logo-image">
                                </div>
                                <div class="projects__slider-card-row">
                                    <div class="projects__slider-card-info">
                                        <h3 class="projects__slider-card-title">
                                            Проект 1
                                        </h3>
                                        <div class="projects__slider-card-token">
                                            TokenName
                                        </div>
                                    </div>
                                    <div class="projects__slider-card-result">
                                        <div class="projects__slider-card-date">
                                            Март 2022
                                        </div>
                                        <div class="projects__slider-card-result-amount">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__slider-card">
                                <div class="projects__slider-card-logo">
                                    <img src="img/sample-logo.svg" alt="" class="projects__slider-card-logo-image">
                                </div>
                                <div class="projects__slider-card-row">
                                    <div class="projects__slider-card-info">
                                        <h3 class="projects__slider-card-title">
                                            Проект 1
                                        </h3>
                                        <div class="projects__slider-card-token">
                                            TokenName
                                        </div>
                                    </div>
                                    <div class="projects__slider-card-result">
                                        <div class="projects__slider-card-date">
                                            Март 2022
                                        </div>
                                        <div class="projects__slider-card-result-amount">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__slider-card">
                                <div class="projects__slider-card-logo">
                                    <img src="img/amazon.svg" alt="" class="projects__slider-card-logo-image">
                                </div>
                                <div class="projects__slider-card-row">
                                    <div class="projects__slider-card-info">
                                        <h3 class="projects__slider-card-title">
                                            Проект 1
                                        </h3>
                                        <div class="projects__slider-card-token">
                                            TokenName
                                        </div>
                                    </div>
                                    <div class="projects__slider-card-result">
                                        <div class="projects__slider-card-date">
                                            Март 2022
                                        </div>
                                        <div class="projects__slider-card-result-amount">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__slider-card">
                                <div class="projects__slider-card-logo">
                                    <img src="img/netflix.svg" alt="" class="projects__slider-card-logo-image">
                                </div>
                                <div class="projects__slider-card-row">
                                    <div class="projects__slider-card-info">
                                        <h3 class="projects__slider-card-title">
                                            Проект 1
                                        </h3>
                                        <div class="projects__slider-card-token">
                                            TokenName
                                        </div>
                                    </div>
                                    <div class="projects__slider-card-result">
                                        <div class="projects__slider-card-date">
                                            Март 2022
                                        </div>
                                        <div class="projects__slider-card-result-amount">
                                            23%
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-progress projects__slider-progress">

            </div>
        </div>
        <a href="#" class="show-more projects__show-more js-show-more">
            Смотреть все
        </a>
    </div>
</section>

<section class="team js-move-up-block" id="team">
    <div class="container">
        <div class="team__row">
            <div class="team__info">
                <h2 class="section-heading team__heading">
                    Наша<br> <span>команда</span>
                </h2>
                <div class="team__text">
                    <p>
                        Блок про минимальную гарантированную доходность, которую обещает фонд
                        и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                        вести на другой сайт.
                    </p>
                </div>
                <a href="#" class="btn team__btn">О команде</a>
            </div>
            <div class="team__slider js-team-slider">
                <div class="team__slider-inner">


                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team__card">
                                    <div class="team__card-image-container">
                                        <img src="img/team/1.jpg" alt="" class="team__card-image">
                                    </div>
                                    <div class="team__card-content">
                                        <h3 class="team__card-title">
                                            Длинноеимя
                                            Фамилиядлинная
                                        </h3>
                                        <div class="team__card-text">
                                            <p>
                                                Блог про команду фонда в формате параграф с описанием и портреты членов
                                                команды с именем и кратким описанием.
                                            </p>
                                        </div>
                                        <div class="team__card-social">
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__card">
                                    <div class="team__card-image-container">
                                        <img src="img/team/2.jpg" alt="" class="team__card-image">
                                    </div>
                                    <div class="team__card-content">
                                        <h3 class="team__card-title">
                                            Длинноеимя
                                            Фамилиядлинная
                                        </h3>
                                        <div class="team__card-text">
                                            <p>
                                                Блог про команду фонда в формате параграф с описанием и портреты членов
                                                команды с именем и кратким описанием.
                                            </p>
                                        </div>
                                        <div class="team__card-social">
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__card">
                                    <div class="team__card-image-container">
                                        <img src="img/team/3.jpg" alt="" class="team__card-image">
                                    </div>
                                    <div class="team__card-content">
                                        <h3 class="team__card-title">
                                            Длинноеимя
                                            Фамилиядлинная
                                        </h3>
                                        <div class="team__card-text">
                                            <p>
                                                Блог про команду фонда в формате параграф с описанием и портреты членов
                                                команды с именем и кратким описанием.
                                            </p>
                                        </div>
                                        <div class="team__card-social">
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__card">
                                    <div class="team__card-image-container">
                                        <img src="img/team/1.jpg" alt="" class="team__card-image">
                                    </div>
                                    <div class="team__card-content">
                                        <h3 class="team__card-title">
                                            Длинноеимя
                                            Фамилиядлинная
                                        </h3>
                                        <div class="team__card-text">
                                            <p>
                                                Блог про команду фонда в формате параграф с описанием и портреты членов
                                                команды с именем и кратким описанием.
                                            </p>
                                        </div>
                                        <div class="team__card-social">
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__card">
                                    <div class="team__card-image-container">
                                        <img src="img/team/2.jpg" alt="" class="team__card-image">
                                    </div>
                                    <div class="team__card-content">
                                        <h3 class="team__card-title">
                                            Длинноеимя
                                            Фамилиядлинная
                                        </h3>
                                        <div class="team__card-text">
                                            <p>
                                                Блог про команду фонда в формате параграф с описанием и портреты членов
                                                команды с именем и кратким описанием.
                                            </p>
                                        </div>
                                        <div class="team__card-social">
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__card">
                                    <div class="team__card-image-container">
                                        <img src="img/team/3.jpg" alt="" class="team__card-image">
                                    </div>
                                    <div class="team__card-content">
                                        <h3 class="team__card-title">
                                            Длинноеимя
                                            Фамилиядлинная
                                        </h3>
                                        <div class="team__card-text">
                                            <p>
                                                Блог про команду фонда в формате параграф с описанием и портреты членов
                                                команды с именем и кратким описанием.
                                            </p>
                                        </div>
                                        <div class="team__card-social">
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                            <a href="#" class="team__card-social-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-progress team__slider-progress">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="mission js-move-up-block" id="mission">
    <div class="container">
        <div class="mission__content">
            <div class="mission__top-row">
                <h2 class="section-heading mission__heading">
                    <span>
                        Миссия
                    </span>
                </h2>

            </div>
            <div class="mission__text">
                <p>
                    Блок про минимальную гарантированную доходность, которую обещает фонд
                    и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                    вести на другой сайт. Блок про минимальную гарантированную доходность, которую обещает фонд
                    и стратегию с коротким описанием + кнопка ‘подробнее’, которая будет
                    вести на другой сайт.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="blog js-move-up-block" id="blog">
    <div class="container">
        <div class="blog__row">
            <div class="blog__info">
                <h2 class="section-heading blog__heading">
                    <span>


                        Блог
                    </span>
                </h2>
                <div class="blog__text">
                    Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                    далее’. Будет переход на сайт Medium.
                </div>
                <a href="#" class="btn blog__link">
                    Больше новостей
                </a>
            </div>
            <div class="blog__slider js-blog-slider">
                <div class="blog__slider-inner">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="blog__card">
                                    <div class="blog__card-image-container">
                                        <img src="img/blog/1.jpg" alt="" class="blog__card-image">
                                    </div>
                                    <div class="blog__card-content">
                                        <h3 class="blog__card-title">
                                            Короткий заголовк новости
                                        </h3>
                                        <div class="blog__card-text">
                                            <p>
                                                Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                                                далее’. Будет переход на сайт Medium.
                                            </p>
                                        </div>
                                        <div class="blog__card-read-more">
                                            Читать далее
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="blog__card">
                                    <div class="blog__card-image-container">
                                        <img src="img/blog/2.jpg" alt="" class="blog__card-image">
                                    </div>
                                    <div class="blog__card-content">
                                        <h3 class="blog__card-title">
                                            Заголовок новости побольше, на пару строчек
                                        </h3>
                                        <div class="blog__card-text">
                                            <p>
                                                Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                                                далее’. Будет переход на сайт Medium.
                                            </p>
                                        </div>
                                        <div class="blog__card-read-more">
                                            Читать далее
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="blog__card">
                                    <div class="blog__card-image-container">
                                        <img src="img/blog/3.jpg" alt="" class="blog__card-image">
                                    </div>
                                    <div class="blog__card-content">
                                        <h3 class="blog__card-title">
                                            Новость 1
                                        </h3>
                                        <div class="blog__card-text">
                                            <p>
                                                Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                                                далее’. Будет переход на сайт Medium.
                                            </p>
                                        </div>
                                        <div class="blog__card-read-more">
                                            Читать далее
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="blog__card">
                                    <div class="blog__card-image-container">
                                        <img src="img/blog/1.jpg" alt="" class="blog__card-image">
                                    </div>
                                    <div class="blog__card-content">
                                        <h3 class="blog__card-title">
                                            Короткий заголовк новости
                                        </h3>
                                        <div class="blog__card-text">
                                            <p>
                                                Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                                                далее’. Будет переход на сайт Medium.
                                            </p>
                                        </div>
                                        <div class="blog__card-read-more">
                                            Читать далее
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="blog__card">
                                    <div class="blog__card-image-container">
                                        <img src="img/blog/2.jpg" alt="" class="blog__card-image">
                                    </div>
                                    <div class="blog__card-content">
                                        <h3 class="blog__card-title">
                                            Заголовок новости побольше, на пару строчек
                                        </h3>
                                        <div class="blog__card-text">
                                            <p>
                                                Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                                                далее’. Будет переход на сайт Medium.
                                            </p>
                                        </div>
                                        <div class="blog__card-read-more">
                                            Читать далее
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="blog__card">
                                    <div class="blog__card-image-container">
                                        <img src="img/blog/3.jpg" alt="" class="blog__card-image">
                                    </div>
                                    <div class="blog__card-content">
                                        <h3 class="blog__card-title">
                                            Новость 1
                                        </h3>
                                        <div class="blog__card-text">
                                            <p>
                                                Блок с новостями в формате кавер, тайтл, превью текста, текст ‘читать
                                                далее’. Будет переход на сайт Medium.
                                            </p>
                                        </div>
                                        <div class="blog__card-read-more">
                                            Читать далее
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-progress blog__slider-progress">

                </div>
            </div>
        </div>
    </div>
</section>


<section class="academy js-move-up-block" id="academy">
    <div class="container">
        <div class="academy__row">
            <div class="academy__content">
                <img src="img/sg-academy.svg" alt="" class="academy__logo">
                <div class="academy__text">
                    <p>
                        Блок с описанием проекта SG Academy. Что это за проект, что предлагает и
                        тд. Можно взять
                        основную информацию для создания этого блока, но контент на том сайте
                        будет меняться. Главное задача связать SG Capital с SG Academy.
                    </p>
                </div>
                <a href="#" class="btn btn--white academy__link">
                    Узнать больше
                </a>
            </div>
            <div class="academy__reviews">
                <div class="academy__reviews-sliders">
                    <div class="academy__reviews-slider js-reviews-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="academy__reviews-card">
                                        <div class="academy__reviews-card-author">
                                            <div class="academy__reviews-card-author-photo-container">
                                                <img src="img/authors/1.jpg" alt=""
                                                    class="academy__reviews-card-author-photo">
                                            </div>
                                            <div class="academy__reviews-card-author-name">
                                                Имя Фамилия
                                            </div>
                                            <div class="academy__reviews-card-date">
                                                Апрель 2022
                                            </div>
                                        </div>
                                        <div class="academy__reviews-card-text">
                                            <p>
                                                Блок с описанием проекта SG Academy. Что это за проект, что предлагает и
                                                тд. Можно взять
                                                основную информацию для создания этого блока, но контент на том сайте
                                                будет меняться. Главное задача связать SG Capital с SG Academy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="academy__reviews-card">
                                        <div class="academy__reviews-card-author">
                                            <div class="academy__reviews-card-author-photo-container">
                                                <img src="img/authors/2.jpg" alt=""
                                                    class="academy__reviews-card-author-photo">
                                            </div>
                                            <div class="academy__reviews-card-author-name">
                                                Имя Фамилия
                                            </div>
                                            <div class="academy__reviews-card-date">
                                                Апрель 2022
                                            </div>
                                        </div>
                                        <div class="academy__reviews-card-text">
                                            <p>
                                                Блок с описанием проекта SG Academy. Что это за проект, что предлагает и
                                                тд. Можно взять
                                                основную информацию для создания этого блока, но контент на том сайте
                                                будет меняться. Главное задача связать SG Capital с SG Academy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="academy__reviews-slider js-reviews-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="academy__reviews-card">
                                        <div class="academy__reviews-card-author">
                                            <div class="academy__reviews-card-author-photo-container">
                                                <img src="img/authors/3.jpg" alt=""
                                                    class="academy__reviews-card-author-photo">
                                            </div>
                                            <div class="academy__reviews-card-author-name">
                                                Имя Фамилия
                                            </div>
                                            <div class="academy__reviews-card-date">
                                                Апрель 2022
                                            </div>
                                        </div>
                                        <div class="academy__reviews-card-text">
                                            <p>
                                                Блок с описанием проекта SG Academy. Что это за проект, что предлагает и
                                                тд. Можно взять
                                                основную информацию для создания этого блока, но контент на том сайте
                                                будет меняться. Главное задача связать SG Capital с SG Academy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="academy__reviews-card">
                                        <div class="academy__reviews-card-author">
                                            <div class="academy__reviews-card-author-photo-container">
                                                <img src="img/authors/4.jpg" alt=""
                                                    class="academy__reviews-card-author-photo">
                                            </div>
                                            <div class="academy__reviews-card-author-name">
                                                Имя Фамилия
                                            </div>
                                            <div class="academy__reviews-card-date">
                                                Апрель 2022
                                            </div>
                                        </div>
                                        <div class="academy__reviews-card-text">
                                            <p>
                                                Блок с описанием проекта SG Academy. Что это за проект, что предлагает и
                                                тд. Можно взять
                                                основную информацию для создания этого блока, но контент на том сайте
                                                будет меняться. Главное задача связать SG Capital с SG Academy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="academy__reviews-card">
                                        <div class="academy__reviews-card-author">
                                            <div class="academy__reviews-card-author-photo-container">
                                                <img src="img/authors/5.jpg" alt=""
                                                    class="academy__reviews-card-author-photo">
                                            </div>
                                            <div class="academy__reviews-card-author-name">
                                                Имя Фамилия
                                            </div>
                                            <div class="academy__reviews-card-date">
                                                Апрель 2022
                                            </div>
                                        </div>
                                        <div class="academy__reviews-card-text">
                                            <p>
                                                Блок с описанием проекта SG Academy. Что это за проект, что предлагает и
                                                тд. Можно взять
                                                основную информацию для создания этого блока, но контент на том сайте
                                                будет меняться. Главное задача связать SG Capital с SG Academy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</section>

<section class="join js-move-up-block" id="join">
    <div class="container">
        <a href="#" class="join__btn">
            <div class="join__btn-wrapper">


                <div class="join__btn-icon">
                    <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                        <use xlink:href="#telegram"></use>
                    </svg>

                </div>
                <div class="join__btn-text">
                    Присоединиться <br>
                    к сообществу в Telegram
                </div>
            </div>
            <div class="btn join__btn-btn">
                Вступить
            </div>
        </a>
    </div>
</section>




{{/content}}
{{/extend}}