.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 70;
    background-color: var(--dark-bg);
    transition: color 0.2s;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        transition: background-color 0.2s;
        z-index: 1;
        background-color: #26252C;

        
    }

    .modal-open &,
    .mobile-menu-open & {
        padding-right: var(--sb-width, 0);
        &::before {
            right: var(--sb-width, 0);
        }
    }

    .fixed-header & {
        &::before {
            background-color: #fff;
        }
    }
}

.page-header__row {
    display: flex;
    align-items: center;
    padding: 3.4rem 0;
    transition: padding 0.2s;

    @include breakpointMF(small-tablet) {
        .fixed-header & {
            padding: 2rem 0;
        }
    }

    @include breakpoint(mobile) {
        padding: 1.1rem 0;
    }
}

.page-header__logo {
    flex-shrink: 0;
    margin-right: 3.7rem;
    transition: filter 0.2s;

    .fixed-header & {
        filter: invert(100%);
    }

    @include breakpoint(mobile) {
        margin-right: auto;
        position: relative;
        z-index: 100;
        transition: filter 0.2s;

        .mobile-menu-open & {
            filter: invert(100%);
        }
    }
}

.page-header__logo-image {
    display: block;
    height: auto;
    width: 5.8rem;

    @include breakpoint(mobile) {
        width: 3.8rem;
    }
}

.page-header__nav {
    margin-right: auto;

    @include breakpoint(mobile) {
        display: none;
    }
    & > ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        row-gap: 1.5rem;
        & > li {
            font-style: normal;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.7rem;

            & > a {
                &:hover {
                    color: rgba(white, 0.7);
                }

                .fixed-header & {
                    color: var(--text-color);
                    &:link,
                    &:visited {
                        color: var(--text-color);
                    }

                    &:hover {
                        color: rgba(#1b1b20, 0.7);
                    }
                }
            }
        }
    }
}

.page-header__connect-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: var(--text-color);
    padding: 1.4rem 3.4rem;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    border-radius: 0.8rem;
    margin-right: 2.8rem;
    margin-left: 2rem;
    white-space: nowrap;
    transition: color 0.2s, background-color 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        margin-right: 0.7rem;
        fill: currentColor;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        color: white;
    }

    .fixed-header & {
        background-color: var(--text-color);
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
}

.page-header__languages {
    position: relative;
    z-index: 100;
    transition: color 0.2s;

    &:hover {
        .page-header__languages-dropdown {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.page-header__languages-current {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    user-select: none;
    transition: color 0.2s;
    .mobile-menu-open &,
    .fixed-header & {
        color: var(--text-color);
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        margin-left: 0.3rem;
        width: 1rem;
        height: 1rem;
        transition: transform 0.2s;
    }
}

.page-header__languages-dropdown-link-flag,
.page-header__languages-current-flag {
    flex-shrink: 0;
    margin-right: 0.6rem;
    width: 2rem;
    height: auto;
}

.page-header__languages-dropdown {
    position: absolute;
    right: -0.5rem;
    top: 100%;

    padding-top: .5rem;
    box-sizing: content-box;
    left: -0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 70;
}

.page-header__languages-dropdown-inner {
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    background-color: var(--dark-bg);
    .mobile-menu-open &,
    .fixed-header & {
        background-color: #fff;
    }
}

.page-header__languages-dropdown-link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-right: 1.3rem;
    transition: color 0.2s;
    display: flex;

    .mobile-menu-open &,
    .fixed-header & {
        color: var(--text-color);
    }
}

.page-header__burger {
    @include breakpointMF(small-tablet) {
        display: none;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        margin-left: 2.2rem;
        flex-shrink: 0;
        position: relative;
        z-index: 100;
        & > span {
            width: 3rem;
            height: 0.2rem;
            background-color: #fff;
            border-radius: 0.2rem;
            transform-origin: right center;
            transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
            margin-bottom: 0.6rem;
            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(1) {
            }
            &:nth-child(2) {
                transform: scaleX(0.75);
            }
            &:nth-child(3) {
                transform: scaleX(0.5);
            }
        }

        .fixed-header & > span {
            background-color: var(--text-color);
        }

        .mobile-menu-open & > span {
            background-color: var(--text-color);
            &:nth-child(1) {
                transform: translateY(1.85rem) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-1.85rem) rotate(-45deg);
            }
        }
    }
}

.page-header__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    color: var(--text-color);
    z-index: 90;
    padding: 0 var(--content-padding);
    padding-top: 11.2rem;
    padding-bottom: 6rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    display: flex;
    flex-direction: column;
    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.page-header__menu-nav {
    & > ul {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1.5rem;
        margin-bottom: 6rem;
        & > li {
            & > a {
                font-style: normal;
                font-weight: 800;
                font-size: 2rem;
                line-height: 2.4rem;
            }
        }
    }
}

.page-header__menu-connect-link {
    align-self: center;
    margin-bottom: 3.5rem;
}

.page-header__menu-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.page-header__menu-social-link {
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}
