.slider-progress {
    position: relative;
    height: 0.4rem;
    background: #26252C;

    .swiper-pagination-progressbar-fill {
        background: #4E5199;
    }

    .swiper-scrollbar-drag {
        background: #4E5199;
        border-radius: 0;
    }
}